@charset "UTF-8";
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000000;
  --bs-white: #ffffff;
  --bs-gray: #7E8299;
  --bs-gray-dark: #3F4254;
  --bs-gray-100: #f5f8fa;
  --bs-gray-200: #eff2f5;
  --bs-gray-300: #E4E6EF;
  --bs-gray-400: #B5B5C3;
  --bs-gray-500: #A1A5B7;
  --bs-gray-600: #7E8299;
  --bs-gray-700: #5E6278;
  --bs-gray-800: #3F4254;
  --bs-gray-900: #181C32;
  --bs-white: #ffffff;
  --bs-light: #f5f8fa;
  --bs-primary: #2C9AFF;
  --bs-secondary: #E4E6EF;
  --bs-success: #50CD89;
  --bs-info: #7239EA;
  --bs-warning: #E78B2F;
  --bs-danger: #F1416C;
  --bs-dark: #181C32;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 245, 248, 250;
  --bs-primary-rgb: 44, 154, 255;
  --bs-secondary-rgb: 228, 230, 239;
  --bs-success-rgb: 80, 205, 137;
  --bs-info-rgb: 114, 57, 234;
  --bs-warning-rgb: 231, 139, 47;
  --bs-danger-rgb: 241, 65, 108;
  --bs-dark-rgb: 24, 28, 50;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 24, 28, 50;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: Inter, Helvetica, "sans-serif";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #181C32;
  --bs-body-bg: #ffffff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #eff2f5;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.85rem;
  --bs-border-radius-sm: 0.55rem;
  --bs-border-radius-lg: 1.5rem;
  --bs-border-radius-xl: 2.25rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #2C9AFF;
  --bs-link-hover-color: #2884EF;
  --bs-code-color: #b93993;
  --bs-highlight-bg: #fff3cd;
}

.nav_menu_item_active {
    font-size: 1.3rem;
    font-weight: 500;
}
.nav_menu_item {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: transparent;
}
html {
  scroll-behavior: smooth;
}
.no-child-link > a {
  color: var(--kt-text-gray-700) !important;
}
.job_position {
  /* color: var(--bs-green); */
  font-weight: 800;
  margin-left: 10px;
  /* color:#7e8299; */
  color:#6a6d80;
}
.bold_highlight_text{
  font-weight: 800;
  color:#6a6d80;
}
.bold_highlight_text_proj{
  font-weight: 800;
  color:#6a6d80 !important;
  transition: color 0.3s ease;
}
.bold_highlight_text_proj:hover{
  color: #a0d1ff !important;
}
.job_pos_2 {
  margin-left: 83px;
}
.job_year {
  color: var(--bs-purple);
  font-weight: 800;
  margin-left: 10px;
  opacity: .5;
}
.profile_picture {
  width: 150px !important;          /* Adjust size as needed */
  height: 150px !important;         /* Should be equal to width */
  border-radius: 50%;    /* Makes it a circle */
  object-fit: cover;     /* Ensures the image fills the container without distortion */
  border: 7px solid #ffffff; /* Optional: adds a subtle border */
  object-position: center 27%;
  position: absolute;
}
.project_pictures:hover{
  opacity: 1;
}
.contact_item {
  margin-left: 10px;
}
.social_contact_mobile{
  display: none;
}
#greatbooks{
  color: grey;
  text-decoration: underline;
}
.grey_link{
  color: grey;
  text-decoration: underline;
}
.project_pictures{
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  display: relative;
  /* height: 200px;
  width: 325px; */
  height: 300px;
  width: 488px;
}
.link_nolink{
  color: black;
}
.chain_link{
  transition: color 0.3s ease;
}
.chain_link:hover{
  color: #a0d1ff !important;
}
.base_manual_font_size{
  font-size: 15px;
}

@media (min-width: 768px) {
  #seeall_cl {
    margin-bottom: 30px !important;
  }
}
@media (max-width: 436px) {
  .contact_social_text{
    display: none;
  }
  .social_contact_desktop{
    display: none;
  }
  .social_contact_mobile{
    display: flex !important;
  }
}
@media (max-width: 650px) {
  .project_pictures{
    /* height: 200px;
    width: 325px; */
    height: 100%;
    width: 100%;
  }
  .base_manual_font_size{
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .topmobile_corrective {
        margin-top: -65px !important;

  }
  .link_mobiles{
    display: none;
  }
}