<!DOCTYPE html>
<!--
Author: Noah Ray Roberts
Product Name: Noah Ray Roberts Personal Website
Website: https://noahrayroberts.com
Contact: noahray216@gmail.com
-->
<html lang="en">
	<!--begin::Head-->
	{% load static %}
	<head><base href=""/>
			<title>Noah Ray Roberts | Personal Website</title>
			<meta charset="utf-8" />
			<meta name="description" content="Noah Ray Roberts' personal webiste. Featuring my career and side passions. Featuring my whole portfolio. Full Stack Web Development. Philosophy. Climbing. Career." />
			<meta name="keywords" content="Noah, Ray, Roberts, django, full stack web developer, flask, laravel, python, php, javascript, html, css, ipad, mindstash.io, beebutts.buzz, noahrayroberts.com, lifestorycast.com, projects, personal, website" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta property="og:locale" content="en_US" />
			<meta property="og:type" content="article" />
			<meta property="og:title" content="Noah Ray Roberts | Personal Website" />
			<meta property="og:url" content="https://noahrayroberts.com" />
			<meta property="og:site_name" content="Noah Ray Roberts | Personal Website" />
			<link rel="canonical" href="https://noahrayroberts.com" />
			<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}" />
			<!--begin::Fonts(mandatory for all pages)-->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
			<!--end::Fonts-->
			<!--begin::Vendor Stylesheets(used for this page only)-->
			<link href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
			<!--end::Vendor Stylesheets-->
			<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
			<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
			<!--end::Global Stylesheets Bundle-->

			<link href="{% static 'assets/plugins/custom/vis-timeline/vis-timeline.bundle.css' %}" rel="stylesheet" type="text/css" />

		</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_app_body" data-kt-app-header-fixed-mobile="true" data-kt-app-toolbar-enabled="true" class="app-default">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getItem("data-theme") !== null ) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }
		</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::App-->
		<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
			<!--begin::Page-->
			<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
				
				<!--begin::Wrapper-->
				<div id="top_section_marker"></div>
				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
					<!--begin::Main-->
					<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
						<!--begin::Content wrapper-->
						<div class="d-flex flex-column flex-column-fluid">
							<!--begin::Content-->
							<div id="kt_app_content" class="app-content pt-10">
								<!--begin::Content container-->
								<div id="kt_app_content_container" class="app-container container-xxl">
									<!--begin::Row-->
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										
										<!-- BEGIN MAIN PAGE CONTENT -->
										<!--begin::Col-->
										<div class="col-xxl">
											<div class="topmobile_corrective"></div>
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!-- PROFESSIONAL PHOTO -->
													<!-- <img class="mx-auto h-150px h-lg-200px profile_picture" src="{% static 'assets/media/profile_professional.jpg' %}" alt="" /> -->
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between mt-9 bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0" style="background-image:url('{% static "assets/media/stock/900x600/42.png" %}')">
													<!--begin::Wrapper-->
													<div class="mb-10">
														<!--begin::Title-->
														<div class="fs-2hx fw-bold text-gray-800 text-center mb-13">
															<span class="text-primary"><span style='color: black;'>Hey 👋</span><span id="kt_typedjs_top_content"></span></span>
															<!-- <span class="me-2">Hey 👋 I'm Noah
																<br />
																<span class="position-relative d-inline-block text-danger" style="line-height: 15px;">
																	hi
																	<span class="position-absolute opacity-15 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
																</span>
															</span> -->
														</div>
													</div>
													<!--begin::Wrapper-->
													<!--begin::Illustration-->

													<!-- ANIMED PHOTO -->
													{% if theme == "light" %}
													<img class="mx-auto h-150px h-lg-200px" src="{% static 'assets/media/illustrations/misc/upgrade.svg' %}" alt="" />
													{% else %}
													<img class="mx-auto h-150px h-lg-200px" src="{% static 'assets/media/illustrations/misc/upgrade-dark.svg' %}" alt="" />
													{% endif %}

													<!--end::Illustration-->
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->


									<!--begin::Row-->
									<div id="career_section_marker" style="position: absolute; margin-top: -85px;"></div>
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Experience Timeline Snapshot</span><br>
													</h3>
														<span class="text-gray-600 mt-1 fw-semibold fs-4"><i>Between the lines of resume are stories of heroism, struggle, and real life</i></span><br>
													<div class="mb-5">
														<div class="mb-4 text-gray-600 fw-semibold fs-6 d-flex flex-column">
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">High School Graduation<span class="job_year">2019</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">Saint Louis University<span class="job_position">Student for 1 year</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">CS50x & Self Teaching Programming<span class="job_year">2020</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">DoorDash <span class="job_position">Delivery Driver</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">Launch of several small to large scale programming projects</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">Blayzer Digital<a href="https://blayzer.com/" target="_blank" class="link_mobiles"><i class="fa-solid fa-link ms-3 fs-5 text-primary"></i></a><span class="job_position">Full-Stack Web Developer</span><span class="job_year">2021</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">MOD Pizza<span class="job_position">Squad Member</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">MOD Pizza<span class="job_position">Shift Lead</span><span class="job_year">2022</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">MOD Pizza<span class="job_position">Assistant General Manager</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">MOD Pizza<span class="job_position">General Manager</span><span class="job_year">2023</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">7-month road trip + self-studying philosophy with&nbsp<a href="#greatbooks_marker" id="greatbooks" class="link_mobiles">great books</a></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">Odyssey House Treatement Center<a href="https://www.odysseyhouse.org/" target="_blank" class="link_mobiles"><i class="fa-solid fa-link ms-3 fs-5 text-primary"></i></a><span class="job_position">Behavioral Health Technician</span><span class="job_year">2024</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">Odyssey House Treatment Center<span class="job_position">Shift Lead</span><span class="job_year">2025</span></span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left">Whitman College<a href="https://www.whitman.edu/" target="_blank" class="link_mobiles"><i class="fa-solid fa-link ms-3 fs-5 text-primary"></i></a><span class="job_position">Psychology and Philosophy Double Major</span><span class="job_year">Current</span></span>
															</li>
														</div>
													</div>
													<!-- VIS-TIMELINE (not using) -->
													<!-- <div class="mb-10">
														<div id="kt_docs_vistimeline_basic_career"></div>
													</div> -->
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->



									<!--begin::Row-->
									<div id="greatbooks_marker" style="position: absolute; margin-top: -25px;"></div>
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Great Books Read</span><br>
													</h3>
														<span class="text-gray-600 mt-1 fw-semibold fs-4"><i>Learning to enjoy reading has radically changed my life for the better. Learning to read great books for education has forever changed the way I learn forever.</i></span><br>

													<div class="mb-5">
														<div class="mb-4 text-gray-600 fw-semibold fs-6 d-flex flex-column">
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>What the Buddha Taught - Walpola Rahula
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Leave it be - Alan Watts
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left"><span style="font-weight: 800; padding-right: 5px;">The Gulag Archipelago</span> - Aleksandr Solzhenitsyn</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Why We Sleep - Matthew Walker
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>8 Mindful Steps to Happiess - Bhante Henepola Gunaratana
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>The Moral Landscape - Sam Harris
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>The Road to Character - David Brooks
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Brave New World - Aldous Huxley
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>1984 - George Orwell
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>The Road to Wigan Pier - George Orwell
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Crime and Punishment - Fyodor Dostoevsky
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left"><span style="font-weight: 800; padding-right: 5px;">Alcoholics Anonymous (The Big Book)</span> - Bill W</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>The Gnostic Gospels - Elaine Pagels
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>The Ghostic Bible - Willis Barnstone, Marvin Meyer
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Waking Up - Sam Harris
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Beyond Good and Evil - Friedrich Nietzsche
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>
																<span class="align-items-left"><span style="font-weight: 800; padding-right: 5px;">Ordinary Men</span> - Christopher R. Browning</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>The Painted Bird - Jerzy Kosinski
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Patterns in Nature - Philip Ball
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Night - Elie Wiesel
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Man's Search for Meaning - Viktor Frankl
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Demons - Fyodor Dostoevsky
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>The Death of Ivan Ilych - Leo Tolstoy
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Modern Man in Search of a Soul - Carl Jung
															</li>
															
														</div>
													</div>
													<!-- VIS-TIMELINE (not using) -->
													<!-- <div class="mb-10">
														<div id="kt_docs_vistimeline_basic_career"></div>
													</div> -->
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->

									

									<!--begin::Row-->
									<div id="greatbooks_marker" style="position: absolute; margin-top: -25px;"></div>
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Development Projects</span><br>
													</h3>
														<span class="text-gray-600 mt-1 fw-semibold fs-4"><i>Coming Soon</i></span><br>

												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->



									<!--begin::Row-->
									<div id="greatbooks_marker" style="position: absolute; margin-top: -25px;"></div>
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Music Written</span><br>
													</h3>
														<span class="text-gray-600 mt-1 fw-semibold fs-4"><i>Coming Soon</i></span><br>

												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->



									<!--begin::Row-->
									<div id="greatbooks_marker" style="position: absolute; margin-top: -25px;"></div>
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Writing</span><br>
													</h3>
														<span class="text-gray-600 mt-1 fw-semibold fs-4"><i>Coming Soon</i></span><br>

												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->



									<!--begin::Row-->
									<div id="greatbooks_marker" style="position: absolute; margin-top: -25px;"></div>
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Personal Accomplishments</span><br>
													</h3>
														<span class="text-gray-600 mt-1 fw-semibold fs-4"><i>Coming Soon</i></span><br>

												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->

									

									<!--DESKTOP CONTACTS-->
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10 social_contact_desktop">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark contact_social_text">Contact & Social</span>
														<!-- <span class="text-gray-400 mt-1 fw-semibold fs-6">Click the paper airplane! (at the top)</span><br><br> -->

														<a class="contact_item" href="mailto:noahray216@gmail.com?subject=Hello%20from%20my%20website">
															<i class="bi bi-envelope-at" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>	
														<a class="contact_item" href="https://github.com/NoahRR" target="_blank" class="bg-hover-light">
															<i class="bi bi-github" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<a class="contact_item" href="https://www.youtube.com/@HowNoahSeesIt" target="_blank">
															<i class="bi bi-youtube" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<a class="contact_item" href="https://www.linkedin.com/in/noahrayroberts/" target="_blank">
															<i class="bi bi-linkedin" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<a class="contact_item" href="https://medium.com/@noahray216" target="_blank">
															<i class="bi bi-medium" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<br><br>

													</h3>
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->


									<!--MOBILE CONTACTS-->
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10 social_contact_mobile">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0 justify-content-evenly align-items-center w-100">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark contact_social_text">Contact & Social</span>
														<!-- <span class="text-gray-400 mt-1 fw-semibold fs-6">Click the paper airplane! (at the top)</span><br><br> -->

														<a class="contact_item" href="mailto:noahray216@gmail.com?subject=Hello%20from%20my%20website">
															<i class="bi bi-envelope-at" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>	
														<a class="contact_item" href="https://github.com/NoahRR" target="_blank" class="bg-hover-light">
															<i class="bi bi-github" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<a class="contact_item" href="https://www.youtube.com/@HowNoahSeesIt" target="_blank">
															<i class="bi bi-youtube" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<a class="contact_item" href="https://www.linkedin.com/in/noahrayroberts/" target="_blank">
															<i class="bi bi-linkedin" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<a class="contact_item" href="https://medium.com/@noahray216" target="_blank">
															<i class="bi bi-medium" style="font-size: 2rem; color: cornflowerblue;"></i>
														</a>
														<br><br>

													</h3>
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->


									
									


							</div>
							<!--end::Content-->
						</div></div>
						<!--end::Content wrapper-->

						<!--begin::Footer-->
						<div id="kt_app_footer" class="app-footer py-2 py-lg-4 pb-12">
							<!--begin::Footer container-->
							<div class="app-container container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack">
								<!--begin::Copyright-->
								<div class="text-dark order-2 order-md-1">
									<span class="text-muted fw-semibold me-1">2025&copy;</span>
									<span class="text-gray-800">Noah Ray Roberts</span>
									<!-- <span class="text-gray-800" style="margin-left: 15px;"><i>last updated: 7/6/2025</i></span> -->
								</div>
								<!--end::Copyright-->
								<!--begin::Menu-->
								<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
									<li class="menu-item">
										<!-- <a href="" target="_blank" class="menu-link px-2">Support me</a> -->
										<span class="text-gray-600" style="margin-left: 15px;"><i>last updated: 7/6/2025</i></span>
									</li>
								</ul>
								<!--end::Menu-->
							</div>
							<!--end::Footer container-->

						</div>
						<!--end::Footer-->
					</div>
					<!--end:::Main-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>

		<!--begin::Javascript-->
		<script>var hostUrl = "{% static 'assets/' %}";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'assets/js/custom/form-range.js' %}"></script>
		<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
		<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
		<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/create-campaign.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>
		<script src="{% static 'assets/plugins/custom/typedjs/typedjs.bundle.js' %}"></script>
		<script src="{% static 'assets/plugins/custom/vis-timeline/vis-timeline.bundle.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->

	</body>
	<!--end::Body-->
</html>
