<!DOCTYPE html>
<!--
Author: Noah Ray Roberts
Product Name: Noah Ray Roberts Personal Website
Website: https://noahrayroberts.com
Contact: noahray216@gmail.com
-->
<html lang="en">
	<!--begin::Head-->
	{% load static %}
	<head><base href=""/>
			<title>Noah Ray Roberts | Personal Website</title>
			<meta charset="utf-8" />
			<meta name="description" content="Noah Ray Roberts' personal webiste. Featuring my career and side passions. Featuring my whole portfolio. Full Stack Web Development. Philosophy. Climbing. Career." />
			<meta name="keywords" content="Noah, Ray, Roberts, django, full stack web developer, flask, laravel, python, php, javascript, html, css, ipad, mindstash.io, beebutts.buzz, noahrayroberts.com, lifestorycast.com, projects, personal, website" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta property="og:locale" content="en_US" />
			<meta property="og:type" content="article" />
			<meta property="og:title" content="Noah Ray Roberts | Personal Website" />
			<meta property="og:url" content="https://noahrayroberts.com" />
			<meta property="og:site_name" content="Noah Ray Roberts | Personal Website" />
			<link rel="canonical" href="https://noahrayroberts.com" />
			<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}" />
			<!--begin::Fonts(mandatory for all pages)-->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
			<!--end::Fonts-->
			<!--begin::Vendor Stylesheets(used for this page only)-->
			<link href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
			<!--end::Vendor Stylesheets-->
			<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
			<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
			<!--end::Global Stylesheets Bundle-->

			<link href="{% static 'assets/plugins/custom/vis-timeline/vis-timeline.bundle.css' %}" rel="stylesheet" type="text/css" />

		</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_app_body" data-kt-app-header-fixed-mobile="true" data-kt-app-toolbar-enabled="true" class="app-default">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getItem("data-theme") !== null ) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }
		</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::App-->
		<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
			<!--begin::Page-->
			<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
				<!--begin::Header-->
				<div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: false, lg: true}" data-kt-sticky-name="app-header-sticky" data-kt-sticky-offset="{default: false, lg: '300px'}">
					<!--begin::Header container-->
					<div class="app-container container-xxl d-flex align-items-center justify-content-between" id="kt_app_header_container">
						<!--begin::Header mobile toggle-->
						<div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show sidebar menu">
							<div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
								<!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
								<span class="svg-icon svg-icon-2">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
										<path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
									</svg>
								</span>
								<!--end::Svg Icon-->
							</div>
						</div>
						<!--end::Header mobile toggle-->
						<!--begin::Logo-->
						
						<!-- <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
							<a href="">
								<img alt="Logo" src="{% static 'assets/media/logos/custom-2.svg' %}" class="h-25px h-lg-40px" />
							</a>
						</div> -->

						<!--end::Logo-->
						<!--begin::Header wrapper-->
						<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
							<!--begin::Menu wrapper-->
							<div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
								<!--begin::Menu-->
								<div class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
									
									<div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<button id="dashboard_btn_top" class="btn bg-gray-200 btn-icon-gray-700 btn-active-light btn-active-color-primary nav_menu_item_active" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-end">
											Dashboard
										</button>
									</div>

									<div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<button id="career_btn_top" class="btn bg-gray-200 btn-icon-gray-700 btn-active-light btn-active-color-primary nav_menu_item" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-end">
											Career
										</button>
									</div>

									<div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<button id="projects_btn_top" class="btn bg-gray-200 btn-icon-gray-700 btn-active-light btn-active-color-primary nav_menu_item" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-end">
											Projects
										</button>
									</div>

									<div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<button id="passions_btn_top" class="btn bg-gray-200 btn-icon-gray-700 btn-active-light btn-active-color-primary nav_menu_item" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-end">
											Passions
										</button>
									</div>

								</div>
								<!--end::Menu-->
							</div>
							<!--end::Menu wrapper-->

							<!--begin::Navbar-->
							<div class="app-navbar flex-shrink-0">
								<!--begin::Quick links-->
								<div class="app-navbar-item me-2 me-lg-5">
									<!--begin::Menu wrapper-->
									<div class="btn btn-icon bg-gray-200 btn-icon-gray-700 btn-active-light btn-active-color-primary w-35px h-35px w-lg-50px h-lg-50px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
										<!--begin::Svg Icon | path: icons/duotune/general/gen006.svg-->
										<span class="svg-icon svg-icon-2x">

											<!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2022-11-29-094551/core/html/src/media/icons/duotune/general/gen016.svg-->
											<span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M15.43 8.56949L10.744 15.1395C10.6422 15.282 10.5804 15.4492 10.5651 15.6236C10.5498 15.7981 10.5815 15.9734 10.657 16.1315L13.194 21.4425C13.2737 21.6097 13.3991 21.751 13.5557 21.8499C13.7123 21.9488 13.8938 22.0014 14.079 22.0015H14.117C14.3087 21.9941 14.4941 21.9307 14.6502 21.8191C14.8062 21.7075 14.9261 21.5526 14.995 21.3735L21.933 3.33649C22.0011 3.15918 22.0164 2.96594 21.977 2.78013C21.9376 2.59432 21.8452 2.4239 21.711 2.28949L15.43 8.56949Z" fill="currentColor"/>
											<path opacity="0.3" d="M20.664 2.06648L2.62602 9.00148C2.44768 9.07085 2.29348 9.19082 2.1824 9.34663C2.07131 9.50244 2.00818 9.68731 2.00074 9.87853C1.99331 10.0697 2.04189 10.259 2.14054 10.4229C2.23919 10.5869 2.38359 10.7185 2.55601 10.8015L7.86601 13.3365C8.02383 13.4126 8.19925 13.4448 8.37382 13.4297C8.54839 13.4145 8.71565 13.3526 8.85801 13.2505L15.43 8.56548L21.711 2.28448C21.5762 2.15096 21.4055 2.05932 21.2198 2.02064C21.034 1.98196 20.8409 1.99788 20.664 2.06648Z" fill="currentColor"/>
											</svg>
											</span>
											<!--end::Svg Icon-->

										</span>
										<!--end::Svg Icon-->
									</div>
									<!--begin::Menu-->
									<div class="menu menu-sub menu-sub-dropdown menu-column w-250px w-lg-325px" data-kt-menu="true">
										<!--begin::Heading-->
										

										<div class="py-2 text-center border-bottom rounded-top">
											<span class="btn text-black" style="font-size: 1.3rem;">Contact & Social</span>
										</div>

										<!--end::Heading-->
										<!--begin:Nav-->
										<div class="row g-0">
											<!--begin:Item-->
											<div class="col-6">
												<a href="mailto:noahray216@gmail.com?subject=Hello%20from%20my%20website">
												<span id="kt_clipboard_3" data-clipboard-text="noahray216@gmail.com" class="d-flex flex-column flex-center h-100 p-6 bg-hover-light border-end border-bottom">
													<!--begin::Svg Icon | path: icons/duotune/finance/fin009.svg-->
													<i class="bi bi-envelope-at" style="font-size: 2rem; color: cornflowerblue;"></i>
													<!--end::Svg Icon-->
													<span class="fs-5 fw-semibold text-gray-800 mb-0">Email</span>
													<span class="fs-7 text-gray-400">click to email</span>
												</span>
												</a>
											</div>
											<!--end:Item-->
											<!--begin:Item-->
											<div class="col-6">
												<a href="https://github.com/NoahRR" target="_blank" class="d-flex flex-column flex-center h-100 p-6 bg-hover-light border-bottom">
													<!--begin::Svg Icon | path: icons/duotune/communication/com010.svg-->
													<i class="bi bi-github" style="font-size: 2rem; color: cornflowerblue;"></i>
													<!--end::Svg Icon-->
													<span class="fs-5 fw-semibold text-gray-800 mb-0">Github</span>
													<span class="fs-7 text-gray-400">Development</span>
												</a>
											</div>
											<!--end:Item-->
											<!--begin:Item-->
											<div class="col-6">
												<a href="https://www.youtube.com/@NoahRayRoberts" target="_blank" class="d-flex flex-column flex-center h-100 p-6 bg-hover-light border-end">
													<!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
													<i class="bi bi-youtube" style="font-size: 2rem; color: cornflowerblue;"></i>
													<!--end::Svg Icon-->
													<span class="fs-5 fw-semibold text-gray-800 mb-0">Youtube</span>
													<span class="fs-7 text-gray-400">Hobbies</span>
												</a>
											</div>
											<!--end:Item-->
											<!--begin:Item-->
											<div class="col-6">
												<a href="https://www.linkedin.com/in/noahrayroberts/" target="_blank" class="d-flex flex-column flex-center h-100 p-6 bg-hover-light">
													<!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
													<i class="bi bi-linkedin" style="font-size: 2rem; color: cornflowerblue;"></i>
													<!--end::Svg Icon-->
													<span class="fs-5 fw-semibold text-gray-800 mb-0">Linkedin</span>
													<span class="fs-7 text-gray-400">Career</span>
												</a>
											</div>
											<!--end:Item-->
										</div>
										<!--end:Nav-->
									</div>
									<!--end::Menu-->
									<!--end::Menu wrapper-->
								</div>
								<!--end::Quick links-->
								
								
								<!--begin::Header menu toggle-->
								<!--end::Header menu toggle-->
							</div>
							<!--end::Navbar-->
						</div>
						<!--end::Header wrapper-->
					</div>
					<!--end::Header container-->
				</div>
				<!--end::Header-->
				<!--begin::Wrapper-->
				<div id="top_section_marker"></div>
				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
					<!--begin::Main-->
					<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
						<!--begin::Content wrapper-->
						<div class="d-flex flex-column flex-column-fluid">
							<!--begin::Content-->
							<div id="kt_app_content" class="app-content pt-10">
								<!--begin::Content container-->
								<div id="kt_app_content_container" class="app-container container-xxl">
									<!--begin::Row-->
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										
										<!-- BEGIN MAIN PAGE CONTENT -->
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between mt-9 bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0" style="background-image:url('{% static "assets/media/stock/900x600/42.png" %}')">
													<!--begin::Wrapper-->
													<div class="mb-10">
														<!--begin::Title-->
														<div class="fs-2hx fw-bold text-gray-800 text-center mb-13">
															<span class="text-primary"><span style='color: black;'>Hey 👋</span><span id="kt_typedjs_top_content"></span></span>
															<!-- <span class="me-2">Hey 👋 I'm Noah
																<br />
																<span class="position-relative d-inline-block text-danger" style="line-height: 15px;">
																	hi
																	<span class="position-absolute opacity-15 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
																</span>
															</span> -->
														</div>
													</div>
													<!--begin::Wrapper-->
													<!--begin::Illustration-->
													<!-- <img class="mx-auto h-150px h-lg-200px" src="{% static 'assets/media/svg/humamns/custom-1.svg' %}" alt="" /> -->
													{% if theme == "light" %}
													<img class="mx-auto h-150px h-lg-200px" src="{% static 'assets/media/illustrations/misc/upgrade.svg' %}" alt="" />
													{% else %}
													<img class="mx-auto h-150px h-lg-200px" src="{% static 'assets/media/illustrations/misc/upgrade-dark.svg' %}" alt="" />
													{% endif %}
													<!--end::Illustration-->
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->

									<!--begin::Row-->
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Contact & Social</span><br>
														<span class="text-gray-400 mt-1 fw-semibold fs-6">Click the paper airplane! (at the top)</span><br><br>
													</h3>
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->

									<!--begin::Row-->
									<div id="career_section_marker" style="position: absolute; margin-top: -85px;"></div>
									<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
										<!--begin::Col-->
										<div class="col-xxl">
											<!--begin::Engage widget 10-->
											<div class="card card-flush h-md-100">
												<!--begin::Body-->
												<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0">
													<!--begin::Wrapper-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Experience Timeline Snapshot</span><br>
														<span class="text-gray-400 mt-1 fw-semibold fs-6">Jobs & Milestones</span><br><br>
													</h3>
													<div class="mb-5">
														<div class="mb-4 text-gray-600 fw-semibold fs-6 d-flex flex-column">
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>High School Graduation<span class="job_year">2019</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Saint Louis University<span class="job_position">Student for 1 year</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>CS50x & Self Teaching Programming<span class="job_year">2020</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>DoorDash <span class="job_position">Delivery Driver</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Launch of several small to large scale programming projects
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>Blayzer Digital <span class="job_position">Full-Stack Web Developer</span><span class="job_year">2021</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>MOD Pizza<span class="job_position">Squad Member</span><span class="job_year">2022</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>MOD Pizza<span class="job_position">Captain</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>MOD Pizza<span class="job_position">Assistant General Manager</span>
															</li>
															<li class="d-flex align-items-center py-2">
																<span class="bullet me-5"></span>MOD Pizza <span class="job_position">General Manager</span><span class="job_year">Current</span>
															</li>
														</div>
													</div>
													<!-- VIS-TIMELINE (not using) -->
													<!-- <div class="mb-10">
														<div id="kt_docs_vistimeline_basic_career"></div>
													</div> -->
												</div>
												<!--end::Body-->
											</div>
											<!--end::Engage widget 10-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->

									<!-- START PROJECTS -->
									<div id="projects_section_marker" style="position: absolute; margin-top: -85px;"></div>
									<div class="card">
										<!--begin::Body-->
										<div class="card-body p-lg-15" style="margin-bottom: -60px;">
											<!--begin::Classic content-->
											<div class="mb-0">
												<!--begin::Intro-->
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label fw-bold text-dark">Projects</span><br>
													<span class="text-gray-400 mt-1 fw-semibold fs-6">*Only showcasing larger projects</span><br><br>
												</h3>
												<!--end::Intro-->
												<!--begin::Row-->
												<div class="row mb-12">
													<!--begin::Col-->
													<div class="col-md-6 pe-md-10 mb-10 mb-md-0">
														<!--begin::Title-->
														<!-- <h2 class="text-gray-800 fw-bold mb-4">Buying Product</h2> -->
														<!--end::Title-->
														<!--begin::Accordion-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_1a">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0 no-child-link">LifeStoryCast.com</h4>
																<a href="https://www.lifestorycast.com" target="_blank"><i class="fa-solid fa-link ms-3 fs-3 text-primary"></i></a>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_1a" class="collapse show fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Website & Podcast. An archive of people's life stories. Made up of conversations I have with everyday-folk. There is so much to learn from other people's stories.</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
														</div>
														<!--end::Section-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_2a">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0 no-child-link">BeeButts.buzz</h4>
																<a href="https://www.beebutts.buzz" target="_blank"><i class="fa-solid fa-link ms-3 fs-3 text-primary"></i></a>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_2a" class="collapse show fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Website & Newlsetter that sends wholesome pictures of **bee butts** every monday.<br><br>"Start your week off with a smile"</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
														</div>
														<!--end::Section-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_3a">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0 no-child-link">Mindstash.io (NexusOrganizer)</h4>
																<a href="https://www.mindstash.io" target="_blank"><i class="fa-solid fa-link ms-3 fs-3 text-primary"></i></a>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_3a" class="collapse show fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Web Application. Idea organization database / tool. Designed as an "idea warehouse" for research and ideas.</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
														</div>
														<!--end::Section-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_4a">
																</div>
																<h4 id="seeall_cl" class="text-gray-700 fw-bold cursor-pointer mb-0"><a href="https://github.com/NoahRR" target="_blank">See More</a></h4>
															</div>
															<!--end::Content-->
														</div>
														<!--end::Section-->
														<!--end::Accordion-->
													</div>
													<!--end::Col-->
													
											</div>
											<!--end::Classic content-->
											
										</div>
										<!--end::Body-->
									</div><br>
									<!-- END PROJECTS -->


									<!--begin::FAQ card-->
									<div id="passions_section_marker" style="position: absolute; margin-top: -85px;"></div>
									<div class="card" style="margin-top: -3px !important;">
										<!--begin::Body-->
										<div class="card-body p-lg-15" style="margin-bottom: -60px;">
											<!--begin::Classic content-->
											<div class="mb-13">
												<!--begin::Intro-->
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label fw-bold text-dark">Passions & Hobbies</span><br>
													<span class="text-gray-400 mt-1 fw-semibold fs-6">This is my life, this is who I am - at least on the outside.</span><br><br>
												</h3>
												<!--end::Intro-->
												<!--begin::Row-->
												<div class="row mb-12">
													<!--begin::Col-->
													<div class="col-md-6 pe-md-10 mb-10 mb-md-0">
														<!--begin::Title-->
														<!-- <h2 class="text-gray-800 fw-bold mb-4">Buying Product</h2> -->
														<!--end::Title-->
														<!--begin::Accordion-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_1">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Big Thinking</h4>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_1" class="collapse show fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">In pursuit of truth and hapiness. That is what fuels my love of philosophy. Firstly, I want to know what is true about our universe. Is there a god? Does morality matter? These are things one should know before acting in the world. <br><br>And "in pursuit of happiness", in that my end goal is to live the best life I can live. Philosophy encourages me to introspect and think about what really matters, which is a foundation for living a meaningful and happy life.</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
														</div>
														<!--end::Section-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_2">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Climbing</h4>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_2" class="collapse fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">I have fallen in love with the sport of rock climbing. It challenges me physically and mentally. A constant upwards battle with the wall to be better and to achieve higher grades. In a lot of ways, it mimics the self-improvment journey that I, too, love.</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
														</div>
														<!--end::Section-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_5">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Minimalism</h4>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_5" class="collapse fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">I try to be a minimalist, in that I want to "minimize" the less important so I have more time for the most important.<br><br>One of my largest expressions of minimalism is my homelessness, by choice. I choose to live out of my prius, to save money. Money is freedom.</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
														</div>
														<!--end::Section-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_3">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Development</h4>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_3" class="collapse fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">I have always had a passion for building things. I love creation. Programming is one of the most important skills I have developed to build real things in this modern world.<br><br>I love to create useful tools that make people's lives better - and ultimately happier.</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
														</div>
														<!--end::Section-->
														<!--begin::Section-->
														<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_4">
																<!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																<!--begin::Title-->
																<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">Music Composition</h4>
																<!--end::Title-->
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_4" class="collapse fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">Music is one of my lesser-public passions. Following from my love of creation, I love making music. I have played many instruments over the years.<br><br>The one that has stuck with me the most is the guitar. I am not skilled at guitar playing. I use it as a foundation to create songs. Playing basic chords, and singing on top. This creative process brings me a lot of joy!</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
														</div>
														<!--end::Section-->
														<!--end::Accordion-->
													</div>
													<!--end::Col-->
													
											</div>
											<!--end::Classic content-->
											
										</div>
										<!--end::Body-->
									</div>
									<!--end::FAQ card-->
									</div><br>

							</div>
							<!--end::Content-->
						</div></div>
						<!--end::Content wrapper-->

						<!--begin::Footer-->
						<div id="kt_app_footer" class="app-footer py-2 py-lg-4 pb-12">
							<!--begin::Footer container-->
							<div class="app-container container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack">
								<!--begin::Copyright-->
								<div class="text-dark order-2 order-md-1">
									<span class="text-muted fw-semibold me-1">2023&copy;</span>
									<a href="https://noahrayroberts.com" target="_blank" class="text-gray-800 text-hover-primary">Noah Ray Roberts</a>
								</div>
								<!--end::Copyright-->
								<!--begin::Menu-->
								<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
									<li class="menu-item">
										<a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support me</a>
									</li>
								</ul>
								<!--end::Menu-->
							</div>
							<!--end::Footer container-->

						</div>
						<!--end::Footer-->
					</div>
					<!--end:::Main-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>

		<!--begin::Javascript-->
		<script>var hostUrl = "{% static 'assets/' %}";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'assets/js/custom/form-range.js' %}"></script>
		<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
		<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
		<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/create-campaign.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>
		<script src="{% static 'assets/plugins/custom/typedjs/typedjs.bundle.js' %}"></script>
		<script src="{% static 'assets/plugins/custom/vis-timeline/vis-timeline.bundle.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->

	</body>
	<!--end::Body-->
</html>